.testimonial-section{
    width:90%;
    margin:auto;
    padding-bottom:70px;
}
.testimonial-grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:30px;
}
@media(max-width:768px){
.testimonial-grid{
    grid-template-columns:1fr;
}
}