.service-section{
 max-width: 90%;
 margin:40px auto;
 padding: 20px 40px;
}
.service-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:30px;
}
.service-section h2{
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
    color: green;
    font-weight: bold;
}
.service-section > p{
    color:rgb(82, 80, 80);
    margin-bottom: 20px;
    text-align: center;
}
@media (max-width:768px){
    .service-grid{
    display: grid;
    grid-template-columns: 1fr;
    gap:30px;
}
}