* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f8f9fa;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  display: block;
}
html {
  scroll-behavior: smooth;
}
.hero,
.destination-section,
.package-section,
.why,
.testimonial-section,
.footer{
    scroll-margin-top:190px;
}